.search{
    border: 2px solid rgb(25, 158, 145);
    border-radius: 10px;
    color: rgb(25, 158, 145);
    background-color: whitesmoke;
    width: 130px;
    margin: 10px
}

.mas{
    border-radius: 50%;
    border: 2px solid turquoise;
    color: white;
    background-color: turquoise;
    margin: 10px
}

.account{
    border: 2px solid black;
    box-shadow: 5px 3px black;
    color: white;
    background-color: rgb(51, 103, 235);
    width: 140px;
    height: 30px;
    margin: 10px
}